[defaults]
inventory = inventory/hosts.ini
remote_user = ubuntu
private_key_file = ~/.ssh/ssh-key-2026-07-09.key
host_key_checking = False
interpreter_python = auto_silent
timeout = 30
gathering = smart

[privilege_escalation]
become = true
become_method = sudo
